* {
  margin: 0;
}

.header {
  background-color: lightgray;
  padding: 5px;

  display: flex;
  justify-content: space-between;
}

.header-icon {
  font-size: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  padding: 10px;
}

.grid-item {
  text-align: center;
}

.grid-item-img {
  font-size: 30px;
}